.card {
  display: flex;
  flex-direction: column;
  max-height: 420px;
  max-width: 400px;
  min-width: 200px;
  flex: 1;
  clip-path: polygon(90% 0, 100% 5%, 100% 100%, 0 100%, 0 0);

  &--title {
      background-color: $tertinaryColor;
      color: white;
      font-size: 20px;
      font-weight: bold;
      text-transform: uppercase;
      padding: 10px 0 10px 10px;
  }

  &:hover &--title{
    background-color: $primaryColor;
    padding: 10px 0 10px 30px;
    transition-duration: $animationDuration;
  }
}